---
layout: web/layouts/auth.html
file: auth
validate: true
alert: true
---
<div class="auth-container">
	<img src="images/logo-trans.png" alt="winfooz" />
	<div id="forgotPasswordContent" class="col-sm-12 auth-content">
		<div class="form-group">
			<h1>Forgot your password?</h1>
			<p>
				Submit your email address and will send you a link to reset your password.
			</p>
		</div>
		<div class="alert-msgs"></div>
		<form class="forgotPasswordForm">
			<div class="form-group">
				<label for="email" class="control-label">Email address:</label>
				<input type="text" id="email" name="email" class="form-control" placeholder="Enter your email address">
			</div>
			<div class="form-group">
				<input type="submit" name="sendInstuction" class="btn btn-primary btn-block" value="send me instruction">
				 <a href="login.html" class="other-link-action">back to sign in</a>
			</div>
		</form>
	</div>

	<div id="forgotPasswordMsgContent" class="col-sm-12 auth-content msg">
		<div class="msg-title">
			<i class="fa fa-envelope"></i>
		</div>
		<div class="msg-content">
			<h1>Instruction sent!</h1>
			<p>Instruction to reset your password have been sent to a***@winfooz.com</p>
			<a href="login.html" class="other-link-action">Back to sign in</a>
		</div>
	</div>
</div>