---
loggedin: true
---

{{> _new-header}}
<div class="overlay welcome-msg">
	
</div>
{{> _alert}}
{{> _icons}}
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">At Your Service</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
                <i class="icon icon-folder-car-add fa-4x"></i>
                <h3>Add cars in seconds</h3>
                <p class="text-muted">We offer seamless ways to add cars on Winfooz: you can use our mobile application to upload your inventoryby scanning the VIN of your car, you can also integrate your database management system directly with Winfooz, or simply add it manually using your keyword.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-3 text-center">
            <div class="service-box">
                <i class="icon icon-car-grow fa-4x"></i>
                <h3>Grow your inventory</h3>
                <p class="text-muted">You can grow your inventory via auctions. Like a real-life auction Winfooz Virtual Auctions™ allow you to buy a car within seconds. You can also purchase from other dealers. Our Winfooz Marketplace™ allows you to buy directly from other dealers at trade prices.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-3 text-center">
            <div class="service-box">
                <i class="icon icon-car-tag fa-4x"></i>
                <h3>Sell wholesale and/or retail</h3>
                <p class="text-muted">Our clever dual pricing fields allow you to add two prices for each car, one for wholesale and another for retail. You also receive access to the Winfooz Dealer Dashboard™, which holds valuable data that will allow you to make the right decisions within seconds and maximize your sales.</p>
            </div>
        </div>
    </div>
</div>


<div class="slider-section">
	<div class="container">
		<div class="row">
	        <div class="col-lg-12 text-center">
	            <h2 class="section-heading">Recently added</h2>
	            <hr class="primary">
	        </div>
	    </div>
	</div>
    <div class="col-lg-12">
		{{> _slider}}
    </div>
</div>

<div class="win-alert-wrapper"></div>