---
layout: web/layouts/auth.html
file: auth
validate: true
alert: true
---
<div class="auth-container">
	<img src="images/logo-trans.png" alt="winfooz" />
	<p class="other-auth-action">
		Don't have an account? <a href="signup.html" class="btn btn-trans">sign up</a>
	</p>
	<div id="loginContent" class="col-sm-12 auth-content">
		<div class="form-group">
			<h1>Login to Your Account</h1>
		</div>
		<div class="alert-msgs"></div>
		<form class="loginForm">
			<div class="form-group">
				<label for="email" class="control-label">Email address:</label>
				<input type="text" id="email" name="email" class="form-control" placeholder="Enter your email address">
			</div>
			<div class="form-group">
				<label for="password" class="control-label">Password:</label>
				<input type="password" id="password" name="password" class="form-control" placeholder="Enter your password">
			</div>
			<div class="form-group">
				<label for="rememberme" class="control-label">
					<input type="checkbox" name="rememberme" id="rememberme" checked>
					Remember me.
				</label>
			</div>
			<div class="form-group">
				<input type="submit" name="login" class="btn btn-primary btn-block" value="sign in">
				 <a href="forgot-password.html" class="other-link-action">Forgot Password</a>
			</div>
		</form>
	</div>

	<div id="loginMsgContent" class="col-sm-12 auth-content msg">
		<div class="msg-title">
			<i class="fa fa-envelope"></i>
		</div>
		<div class="msg-content">
			<h1>Please verify your email addess</h1>
			<p>One step to go. Active your email address by clicking the activation link we sent to your inbox earlier.</p>
			<a href="#" class="other-link-action">Re-send verification email</a>
		</div>
	</div>
</div>