---
layout: web/layouts/auth.html
file: auth
validate: true
---
<div class="auth-container">
	<a href="#">
		<img src="images/logo-trans.png" alt="winfooz" />
	</a>
	<div class="col-sm-12 auth-content">
		<div class="form-group">
			<h1>Reset your password</h1>
		</div>
		<form class="resetPasswordForm">
			<div class="form-group">
				<label for="password" class="control-label">Password:</label>
				<input type="password" id="password" name="password" class="form-control" placeholder="Enter a password">
			</div>
			<div class="form-group">
				<label for="password-confirmation" class="control-label">Password confirmation:</label>
				<input type="password" id="password-confirmation" name="passwordConfirmation" class="form-control" placeholder="Re-type the password">
			</div>
			<div class="form-group">
				<input type="submit" name="newPassword" class="btn btn-primary btn-block" value="set new password">
			</div>
		</form>
	</div>
</div>