{{> _header}}
<div class="container">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">MAKE and MODEL</div>
			<div class="panel-body">
				<div class="scroll-wrapper">
					<div class="panel-options">
						<div class="input-group">
							<input id="Acura" type="checkbox" class="custom-checkbox"  />
							<label for="Acura">Acura</label>
						</div>
						<div class="input-group">
							<input id="Audi" type="checkbox" class="custom-checkbox"  />
							<label for="Audi">Audi</label>
						</div>
						<div class="input-group">
							<input id="BMW" type="checkbox" class="custom-checkbox"  />
							<label for="BMW">BMW</label>
						</div>
						<div class="input-group">
							<input id="Buick" type="checkbox" class="custom-checkbox"  />
							<label for="Buick">Buick</label>
						</div>
						<div class="input-group">
							<input id="Cadillac" type="checkbox" class="custom-checkbox"  />
							<label for="Cadillac">Cadillac</label>
						</div>
						<div class="input-group">
							<input id="Chevrolet" type="checkbox" class="custom-checkbox"  />
							<label for="Chevrolet">Chevrolet</label>
						</div>
						<div class="input-group">
							<input id="Chrysler" type="checkbox" class="custom-checkbox"  />
							<label for="Chrysler">Chrysler</label>
						</div>
						<div class="input-group">
							<input id="Dodge" type="checkbox" class="custom-checkbox"  />
							<label for="Dodge">Dodge</label>
						</div>
						<div class="input-group">
							<input id="Fiat" type="checkbox" class="custom-checkbox"  />
							<label for="Fiat">Fiat</label>
						</div>
						<div class="input-group">
							<input id="Ford" type="checkbox" class="custom-checkbox"  />
							<label for="Ford">Ford</label>
							<div class="sub-input-group">
								<div class="input-group">
									<input id="box1" type="checkbox" class="custom-checkbox"  />
									<label for="box1">Estate</label>
								</div>
								<div class="input-group">
									<input id="Focus" type="checkbox" class="custom-checkbox"  />
									<label for="Focus">Focus</label>
								</div>
								<div class="input-group">
									<input id="Fiesta" type="checkbox" class="custom-checkbox"  />
									<label for="Fiesta">Fiesta</label>
								</div>
								<div class="input-group">
									<input id="Edge" type="checkbox" class="custom-checkbox"  />
									<label for="Edge">Edge</label>
								</div>
								<div class="input-group">
									<input id="Escape" type="checkbox" class="custom-checkbox"  />
									<label for="Escape">Escape</label>
								</div>
							</div>
						</div>
						<div class="input-group">
							<input id="GMC" type="checkbox" class="custom-checkbox"  />
							<label for="GMC">GMC</label>
						</div>
					</div>
				</div>
				
			</div>
			<div class="panel-heading">
				<hr style="margin: 0" />
			</div>
			<div class="panel-heading">PRICE</div>
			<div class="panel-body">
				<input type="text" id="price" name="price" value="" />
			</div>
			<div class="panel-heading">MILEAGE</div>
			<div class="panel-body">
				<input type="text" id="mileage" name="mileage" value="" />
			</div>
			<div class="panel-heading">YEAR</div>
			<div class="panel-body">
				<input type="text" id="year" name="year" value="" />
			</div>
			<div class="panel-heading">
				<hr style="margin: 0" />
			</div>
		</div>
	</div>
</div>