---
layout: web/layouts/auth.html
file: auth
validate: true
alert: true
---
<div class="auth-container">
	<img src="images/logo-trans.png" alt="winfooz" />
	<p class="other-auth-action">
		Already have an account? <a href="login.html" class="btn btn-trans">log in</a>
	</p>
	<div id="signupContent" class="col-sm-12 auth-content">
		<div class="form-group">
			<h1>Create new account</h1>
		</div>
		<div class="alert-msgs"></div>
		<form class="signupForm">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="f-name" class="control-label">First name:</label>
						<input type="text" id="f-name" name="fName" class="form-control" placeholder="Enter your first name">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="l-name" class="control-label">Last name:</label>
						<input type="text" id="l-name" name="lName" class="form-control" placeholder="Enter your last name">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="control-label">E-mail address:</label>
				<input type="text" id="email" name="email" class="form-control" placeholder="Enter your e-mail address">
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="password" class="control-label">Password:</label>
						<input type="password" id="password" name="password" class="form-control" placeholder="Enter a password">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="password-confirmation" class="control-label">Password confirmation:</label>
						<input type="password" id="password-confirmation" name="passwordConfirmation" class="form-control" placeholder="Re-type the password">
					</div>
				</div>
			</div>
			<div class="form-group">
				<input type="submit" name="login" class="btn btn-primary btn-block" value="start trading">
			</div>
		</form>
	</div>

	<div id="signupMsgContent" class="col-sm-12 auth-content msg">
		<div class="msg-title">
			<i class="fa fa-envelope"></i>
		</div>
		<div class="msg-content">
			<h1>Thanks for signing up for Winfooz</h1>
			<p>Please check your email to verify your account and start trading.</p>
			<a href="#" class="other-link-action">Re-send verification email</a>
		</div>
	</div>
</div>