<div class="slider-container">

  <div class="slider-content">

    <div class="slider-single">
      <img class="slider-single-image" src="images/cars/01.jpg" alt="1" />
      <a class="slider-single-download btn btn-primary" href="javascript:void(0);">Checkout <i class="fa fa-check"></i></a>
      <h1 class="slider-single-title">Car name 1</h1>
      <a class="slider-single-likes" href="javascript:void(0);">
        <i class="fa fa-usd"></i>
        <p>1,247</p>
      </a>
    </div>

    <div class="slider-single">
      <img class="slider-single-image" src="images/cars/02.jpg" alt="2" />
      <a class="slider-single-download btn btn-primary" href="javascript:void(0);">Checkout <i class="fa fa-check"></i></a>
      <h1 class="slider-single-title">Car name 2</h1>
      <a class="slider-single-likes" href="javascript:void(0);">
        <i class="fa fa-usd"></i>
        <p>1,247</p>
      </a>
    </div>

    <div class="slider-single">
      <img class="slider-single-image" src="images/cars/03.jpg" alt="3" />
      <a class="slider-single-download btn btn-primary" href="javascript:void(0);">Checkout <i class="fa fa-check"></i></a>
      <h1 class="slider-single-title">Car name 3</h1>
      <a class="slider-single-likes" href="javascript:void(0);">
        <i class="fa fa-usd"></i>
        <p>1,247</p>
      </a>
    </div>


    <div class="slider-single">
      <img class="slider-single-image" src="images/cars/04.jpg" alt="4" />
      <a class="slider-single-download btn btn-primary" href="javascript:void(0);">Checkout <i class="fa fa-check"></i></a>
      <h1 class="slider-single-title">Car name 4</h1>
      <a class="slider-single-likes" href="javascript:void(0);">
        <i class="fa fa-usd"></i>
        <p>1,247</p>
      </a>
    </div>


    <div class="slider-single">
      <img class="slider-single-image" src="images/cars/05.jpg" alt="5" />
      <a class="slider-single-download btn btn-primary" href="javascript:void(0);">Checkout <i class="fa fa-check"></i></a>
      <h1 class="slider-single-title">Car name 5</h1>
      <a class="slider-single-likes" href="javascript:void(0);">
        <i class="fa fa-usd"></i>
        <p>1,247</p>
      </a>
    </div>

    <div class="slider-single">
      <img class="slider-single-image" src="images/cars/06.jpg" alt="6" />
      <a class="slider-single-download btn btn-primary" href="javascript:void(0);">Checkout <i class="fa fa-check"></i></a>
      <h1 class="slider-single-title">Car name 6</h1>
      <a class="slider-single-likes" href="javascript:void(0);">
        <i class="fa fa-usd"></i>
        <p>1,247</p>
      </a>
    </div>

    <div class="slider-single">
      <img class="slider-single-image" src="images/cars/07.jpg" alt="6" />
      <a class="slider-single-download btn btn-primary" href="javascript:void(0);">Checkout <i class="fa fa-check"></i></a>
      <h1 class="slider-single-title">Car name 7</h1>
      <a class="slider-single-likes" href="javascript:void(0);">
        <i class="fa fa-usd"></i>
        <p>1,247</p>
      </a>
    </div>

  </div>

  <a class="slider-left" href="javascript:void(0);"><i class="fa fa-arrow-left"></i></a>

  <a class="slider-right" href="javascript:void(0);"><i class="fa fa-arrow-right"></i></a>

</div>