.btn {
    border-radius: 12px;
    font-size: 14px;
    box-shadow: inset 0 -1px 0px $brand-default;
    box-sizing: border-box;
    transition: all 0.3s;
    border: 1px solid $brand-default;
    text-transform: uppercase;
    &:hover {
        box-shadow: inset 0 -64px 0px darken($brand-default, 15%);
        border-color: rgba(0, 0, 0, 0);
        color: #fff !important;
        &:active {
            box-shadow: inset 0 -62px 0px darken($brand-default, 15%);
            color: #fff !important;
        }
    }
    &.btn-primary{
        border: 1px solid $brand-primary;
        box-shadow: inset 0 -1px 0px $brand-primary;
        color: #fff !important;
        &:hover {
            box-shadow: inset 0 -64px 0px darken($brand-primary, 15%);
            border-color: rgba(0, 0, 0, 0);
            color: #000;
            &:active {
                box-shadow: inset 0 -62px 0px darken($brand-primary, 15%);
                color: #000;
            }
        }
    }
    &.btn-trans{
        border: 1px solid #fff;
        box-shadow: inset 0 -1px 0px #fff;
        color: #fff;
        background: transparent;
        &:hover {
            box-shadow: inset 0 -64px 0px #fff;
            border-color: rgba(0, 0, 0, 0);
            color: #000 !important;
            &:active {
                box-shadow: inset 0 -62px 0px #fff;
                color: #000 !important;
            }
        }
    }
    &.btn-white {
        background: transparent;
        border: 1px solid #fff;
        box-shadow: inset 0 -1px 0px #fff;
        color: #fff !important;
        text-transform: uppercase;
        &:hover {
            box-shadow: inset 0 -64px 0px #fff;
            border-color: rgba(0, 0, 0, 0);
            color: #000 !important;
            &:active {
                box-shadow: inset 0 -62px 0px #fff;
                color: #000 !important;
            }
        }
    }
    &.btn-xs {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 11px;
    }
    &.btn-sm {
        font-size: 12px;
    }
    &.btn-lg {
        font-size: 18px;
    }
}