.nav-toggle {
  background: transparent;
  height: 26px;
  width: 36px;
  display: inline-block;
  cursor: pointer;
  transform: translate(0%, -50%);
  margin-right: 10px;
  span{
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 30px;
    background: $brand-default;
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    content: '';
    transition: all 0.3s ease-in-out;
    &:before, &:after{
      cursor: pointer;
      border-radius: 1px;
      height: 2px;
      width: 30px;
      background: $brand-default;
      position: absolute;
      left: 0;
      top: 50%;
      display: block;
      content: '';
      transition: all 0.3s ease-in-out;
    }
    &:before{
      top: -8px;
    }
    &:after{
      top: 8px;
    }
  }
  &.active{
    span{
      background: transparent;
      &:before, &:after{
        top: 0;
      }
      &:before {
        transform: rotate(135deg);
      }
      &:after {
        transform: rotate(-135deg);
      }
    }
  }
}