
$White : #fff !default;


// Border Radius
// -------------------------
@mixin border-radius($radius) {
  -webkit-border-radius:  $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

%checkbox_default {
  @include size(auto 24px);
  line-height: 28px;
  display: block;
  vertical-align: top;
  position: relative;
  padding-left: 38px;
  cursor: pointer;
  margin-bottom: 0;
  overflow: hidden;
  text-align: left;
}

%checkox_box {
  @include size(22px);
  @include position(absolute, 0 null null 0);
  @include border-radius(5px);
  @include transition(background-color 300ms ease-in-out, border-color 300ms ease-in-out);
  content: '';
  border: 1px solid #d5d5d5;
  background: $White;
}

%checkox_checked {
  border-color: $brand-default;
  background-color: $brand-default;
}

.custom-checkbox[type="checkbox"]{
  &:checked {
    position: absolute;
    left: -9999px;
    + label {
      @extend %checkbox_default;
      &:before {
        @extend %checkox_box;
        @extend %checkox_checked;
      }
    }
  }
  &:not(:checked) {
    position: absolute;
    left: -9999px;
    + label {
      @extend %checkbox_default;
      &:before {
        @extend %checkox_box;
      }
    }
  }
}

.input-group{
  margin-bottom: 10px;
  .sub-input-group{
    margin-top: 10px;
    margin-left: 35px;
  }
}