body {
	direction: #{$text-direction};
	background-color: #{$body-bg};
	color: #474747;
	height: 100%;
	font-family: #{$font-family};
	-webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4{
	font-family: #{$font-family};
}