
// Sidebar menu
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  //First Level
  > li {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    > a {
      padding: 5px 5px 5px 17px;
      display: block;
      border-left: 3px solid transparent;
      color: #fff;
      text-decoration: none;
      &:hover{
        color: #b9b9b9;
      }
      > .fa,
      > .glyphicon,
      > .ion,
      > .icon{
        width: 25px;
        text-align: left;
      }
    }
    .label,
    .badge {
      margin-top: 3px;
      margin-right: 5px;
    }
  }
  li.header {
    font-weight: 400;
    padding: 0px 10px 0px 20px;
    font-size: 12px;
  }
  li > a > .fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
  }
  > li.active {
    > a {
      border-left-color: $brand-primary;
      > .fa-angle-left {
        @include rotate(-90deg);
      }
    }
    > .treeview-menu {
      display: block;
    }
  }

  // Tree view menu
  .treeview-menu {
    display: none;
    list-style: none;
    padding:0;
    margin:0;
    padding-left: 5px;
    .treeview-menu {
      padding-left: 20px;
    }
    > li {
      margin: 0;
      > a {
        padding: 5px 5px 5px 15px;
        display: block;
        font-size: 14px;
        > .fa,
        > .glyphicon,
        > .ion {
          width: 20px;
        }
        > .fa-angle-left,
        > .fa-angle-down {
          width: auto;
        }
      }
    }
  }
}