@font-face {
  font-family: 'wficons';
  src:  url('../fonts/wficons.eot?dz1yan');
  src:  url('../fonts/wficons.eot?dz1yan#iefix') format('embedded-opentype'),
    url('../fonts/wficons.ttf?dz1yan') format('truetype'),
    url('../fonts/wficons.woff?dz1yan') format('woff'),
    url('../fonts/wficons.svg?dz1yan#wficons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wficons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
}

.icon-checked:before {
  content: "\e904";
}
.icon-car-o:before {
  content: "\e905";
}
.icon-left-arrow-circle:before {
  content: "\e906";
}
.icon-right-arrow-circle:before {
  content: "\e907";
}
.icon-star-edge:before {
  content: "\e909";
}
.icon-speech-bubble:before {
  content: "\e90a";
}
.icon-chat:before {
  content: "\e90b";
}
.icon-price-tag:before {
  content: "\e90d";
}
.icon-location-o:before {
  content: "\e90e";
}
.icon-oil:before {
  content: "\e90f";
}
.icon-car-left:before {
  content: "\e910";
}
.icon-bucket:before {
  content: "\e911";
}
.icon-steering-wheel:before {
  content: "\e912";
}
.icon-speedometer:before {
  content: "\e913";
}
.icon-close-circle:before {
  content: "\e914";
}
.icon-inventory:before {
  content: "\e915";
}
.icon-star-rounded:before {
  content: "\e916";
}
.icon-view-o:before {
  content: "\e917";
}
.icon-star-rounded-o:before {
  content: "\e91a";
}
.icon-flag:before {
  content: "\e91b";
}
.icon-bar-chart-2:before {
  content: "\e91c";
}
.icon-bar-chart-circle:before {
  content: "\e91d";
}
.icon-line-chart:before {
  content: "\e91e";
}
.icon-gas-station:before {
  content: "\e91f";
}
.icon-car-line:before {
  content: "\e920";
}
.icon-gearshift:before {
  content: "\e921";
}
.icon-list-view:before {
  content: "\e926";
}
.icon-grid-view:before {
  content: "\e927";
}
.icon-arrow-down:before {
  content: "\e928";
}
.icon-list:before {
  content: "\e929";
}
.icon-success-circle:before {
  content: "\e92a";
}
.icon-car-front:before {
  content: "\e92b";
}
.icon-timer-radius:before {
  content: "\e92c";
}
.icon-next:before {
  content: "\e92d";
}
.icon-tag-o:before {
  content: "\e92e";
}
.icon-location:before {
  content: "\e92f";
}
.icon-transmission:before {
  content: "\e930";
}
.icon-fuel-type:before {
  content: "\e931";
}
.icon-color:before {
  content: "\e932";
}
.icon-calendar:before {
  content: "\e933";
}
.icon-mileage:before {
  content: "\e934";
}
.icon-auction:before {
  content: "\e935";
}
.icon-car-m:before {
  content: "\e936";
}
.icon-bay:before {
  content: "\e937";
}
.icon-deliver:before {
  content: "\e938";
}
.icon-shop-card:before {
  content: "\e939";
}
.icon-table:before {
  content: "\e93a";
}
.icon-verify:before {
  content: "\e93b";
}
.icon-logout:before {
  content: "\e93c";
}
.icon-search-bold:before {
  content: "\e93d";
}
.icon-profile:before {
  content: "\e93e";
}
.icon-notifications:before {
  content: "\e93f";
}
.icon-messages:before {
  content: "\e940";
}
.icon-wishlist:before {
  content: "\e941";
}
.icon-play:before {
  content: "\e943";
}
.icon-folder:before {
  content: "\e901";
}
.icon-price-car-tag:before {
  content: "\e902";
}
.icon-stats:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e900";
}


.icons-list{
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    float: left;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    font-size: 14px;
    margin: 10px;
  }
}