.navbar {
	padding: 15px 10px;
	transition: all 0.3s ease-in-out;
	border-radius: 0;
	border: none;
	&.fixed{
		position: fixed;
		width: 100%;
		z-index: 999;
		top: 0;
		left: 0;
		
		.auth-actions{
			&.loggedin{
				&.second-nav{
					@media (min-width: $screen-desktop){
						width: 100%;
					    left: 0;
					    right: 0;
					    background: #fff;
					    padding-top: 5px;
					    padding-bottom: 5px;
					    top: 70px;
					    border-top: 1px solid #c2cdd3;;
					    > ul {
					    	float: left !important;
					    	> li{
					    		float: left;
					    		> a{
					    			color: #002f37;
					    			&:hover{
					    				color: darken(#002f37, 15%);
					    			}	
					    		}
					    	}
					    }
					}
				}
			}
		}
		&.loggedin-nav{
			.search{
				@media (min-width: $screen-lg){
					&.scroll{
						width: 58.3333333333%;
					}
				}
			}
		}
	}
	&.trans{
		position: fixed;
		width: 100%;
		z-index: 999;
		top: 0;
		left: 0;
		background: transparent;
		.form-control{
			background: #fff;
			color: $brand-default;
		}
		.logo{
			.navbar-brand{
				background-image: url(../images/logo-trans.png);
			}
		}
		.nav-toggle{
			span{
				background: #fff;
    			&:after,&:before{
    				background: #fff;
    			}
    		}
    	}
    	.dropdown-auth-actions{
    		> a{
    			color: #fff;
    		}
    	}
    	.navbar-nav{
			> li{
		    	> a{
					color: #fff;
					&:hover{
						color: darken(#fff, 15%);
					}
				}
			}	
		}
		&.loggedin-nav{
			.search{
				@media (min-width: $screen-md-min) and (max-width: $screen-lg){
					&.full{
						width: 100%;
					}
				}
			}
		}
	}
	.logo{
	    display: inline-block;
	    margin: 0;
	    position: relative;
	    height: 45px;
		.navbar-brand{
			height: 40px;
			background: url(../images/logo.png) no-repeat;
			position: absolute;
			top: 0;
			left: 0;
			width: 137px;
			background-size: 100%;
		}
	}
	
	.navbar-nav{
		> li{
			margin: 0 5px;
			> a{
				padding: 5px 10px;
				line-height: 33px;
				color: $gray;
				&:hover{
					color: darken($gray, 15%);
				}
				.badge{
					position: absolute;
					top: 0;
					right: 0;
					font-size: 10px;
					padding: 0;
					border-radius: 3px;
					width: 15px;
					height: 15px;
					line-height: 15px;
				}
			}
		}
	}

	.navbar-right{
		margin: 0;
	}
	.search{
		@media only screen and (max-width: 650px){
			width: 100%;
		}
		.search-form{
			.form-group{
				margin: 0;
				position: relative;
				.form-control{
					border: 1px solid #c2cdd3;
				}
			}
			.btn-search{
				position: absolute;
			    bottom: 0;
				right: 20px;
				background: transparent;
				border: none;
				padding: 7px;
			}
		}
	}
}