.panel{
    background-color: #fff;
    border: none;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.2);
	&.panel-default{
		border: none;
	}
	.panel-heading{
	    border-top-right-radius: 6px;
    	border-top-left-radius: 6px;
    	border: none;
    	background-color: #fff;
    	font-size: 14px;
    	color: #353535;
	}
	.panel-body{
		@include scroll('.panel-options', 450px)

		
	}

}