@mixin scroll($className, $maxHeight){
    #{$className}{
        overflow-y: scroll; 
        width: 100%; 
        max-height: $maxHeight; 
        padding-right: 10px;
        position: relative;
        overflow-x: hidden; 
        outline: none;
        &::-webkit-scrollbar {
            width: 14px;
            height: 18px;
            background: #fff;
            border-radius: 10px;
            border: 1px solid $brand-default;
        }
        &::-webkit-scrollbar-thumb {
            height: 6px;
            border: 4px solid rgba(0, 0, 0, 0);
            background-clip: padding-box;
            -webkit-border-radius: 7px;
            background-color: $brand-primary;
            -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
        }
        &::-webkit-scrollbar-button {
            width: 0;
            height: 0;
            display: none;
        }
        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }
}