.service-box {
  margin: 0px auto 0;
  max-width: 400px;
  @media (max-width: $screen-md-max){
    margin: 20px auto 0;
  }
  p {
	  margin-bottom: 0;
	}
}

hr {
  max-width: 50px;
  border-color: $brand-primary;
  border-width: 3px;
}

hr.light {
  border-color: #fff;
} 