.sidebar{
	top: 0;
	left: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    z-index: 10;
    padding-top: 60px;
    width: 206px;
    .sidebar-account{
    	flex-shrink: 0;
	    margin-top: 6px;
	    margin-left: 2px;
	    margin-right: 4px;
	    z-index: 10;
	    position: relative;
	    box-sizing: border-box;
	    height: 52px;
	    text-decoration: none;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    display: block;
	    &:after{
	    	font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
    	    content: "\f107";
		    position: absolute;
		    right: 0;
		    top: 25px;
		    width: 13px;
		    height: 13px;
		    display: block;
		    transition: transform .2s cubic-bezier(.85,0,.3,1);
	    }
	    .account-image{
	    	position: absolute;
		    top: 16px;
		    left: 0;
		    -ms-flex-negative: 0;
		    flex-shrink: 0;
		    box-shadow: 0 2px 5px 0 rgba(49,49,93,.1), 0 1px 2px 0 rgba(0,0,0,.08);
		    background-color: #fff;
		    width: 30px;
		    height: 30px;
		    border-radius: 15px;
		    overflow: hidden;
		    .account-image-content{
		    	background-size: 100% 100%;
			    background-position: 50%;
			    transition: opacity .2s ease-in-out;
			    width: 30px;
			    height: 30px;
			    border-radius: 15px;
			    overflow: hidden;
			    &:after{
		    	    position: absolute;
				    content: "";
				    left: 0;
				    top: 0;
				    bottom: 0;
				    right: 0;
				    background-size: 100% 100%;
				    background-position: 50%;
				    background-image: url('../images/avatar.jpg');
			    }
		    }
	    }
	    .account-info{
	    	position: absolute;
		    top: 16px;
		    left: 40px;
		    right: 17px;
		    pointer-events: none;
		    .account-nickname{
	    	    font-weight: 500;
			    font-size: 17px;
			    color: #424770;
			    line-height: 30px;
			    transform-origin: 0 50%;
			    transition: transform .2s ease-in-out;
			    white-space: pre;
			    text-overflow: ellipsis;
			    overflow: hidden;
		    }
	    }
    }
    .sidebar-main{
	    margin-right: 17px;
	    -ms-flex-negative: 0;
	    flex-shrink: 0;
	    .sidebar-section{
	    	margin: 0;
		    outline: 0;
		    padding: 0;
		    li{
		    	list-style: none;
		    	.sidebar-link{
		    		position: relative;
				    display: block;
				    color: #424770;
				    font-size: 15px;
				    line-height: 33px;
				    padding-left: 26px;
				    background-size: 20px 20px;
				    background-repeat: no-repeat;
				    background-position: 0 6px;
				    margin-left: 2px;
				    text-decoration: none;
				    &:hover{
			    	    font-weight: 700;
						color: #32325d;
				    }
				    i{
			    	    position: absolute;
					    left: 0;
					    padding: 8px 6px;
				    }
		    		&.selected{
		    			font-weight: 700;
		    			color: $brand-primary;
		    		}
		    	}
		    }
	    }
    }
}

.side-menu{
	position: fixed;
    width: 0;
    height: 100%;
    top: 0;
    background: $brand-default;
	z-index: 9999999;
	transition: all 0.3s ease-in-out;
	white-space: nowrap;
	overflow: hidden;
	.black-overlay{
		background: #000;
	}
	&.active{
		width: 280px;
	}
	.logo{
	    position: relative;
    	padding: 0 25px;
    	.nav-toggle{
    		span{
    			&:after,&:before{
    				background: #fff;
    			}
    		}
    	}
    	.navbar-brand{
			float: none;
			display: inline-block;
		    padding: 16.5px 1.5px;
    	}
	}
	.sidebar-account{
    	flex-shrink: 0;
	    margin: 5px 5px 5px 17px;
	    z-index: 10;
	    position: relative;
	    box-sizing: border-box;
	    height: 52px;
	    text-decoration: none;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    display: block;
	    color: #fff;
	    &:after{
	    	font: normal normal normal 14px/1 FontAwesome;
			font-size: inherit;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
    	    content: "\f107";
		    position: absolute;
		    right: 0;
		    top: 25px;
		    width: 13px;
		    height: 13px;
		    display: block;
		    transition: transform .2s cubic-bezier(.85,0,.3,1);
	    }
	    .account-image{
	    	position: absolute;
		    top: 16px;
		    left: 0;
		    -ms-flex-negative: 0;
		    flex-shrink: 0;
		    box-shadow: 0 2px 5px 0 rgba(49,49,93,.1), 0 1px 2px 0 rgba(0,0,0,.08);
		    background-color: #fff;
		    width: 30px;
		    height: 30px;
		    border-radius: 15px;
		    overflow: hidden;
		    .account-image-content{
		    	background-size: 100% 100%;
			    background-position: 50%;
			    transition: opacity .2s ease-in-out;
			    width: 30px;
			    height: 30px;
			    border-radius: 15px;
			    overflow: hidden;
			    &:after{
		    	    position: absolute;
				    content: "";
				    left: 0;
				    top: 0;
				    bottom: 0;
				    right: 0;
				    background-size: 100% 100%;
				    background-position: 50%;
				    background-image: url('../images/avatar.jpg');
			    }
		    }
	    }
	    .account-info{
	    	position: absolute;
		    top: 16px;
		    left: 40px;
		    right: 17px;
		    pointer-events: none;
		    .account-nickname{
	    	    font-weight: 500;
			    font-size: 17px;
			    color: #fff;
			    line-height: 30px;
			    transform-origin: 0 50%;
			    transition: transform .2s ease-in-out;
			    white-space: pre;
			    text-overflow: ellipsis;
			    overflow: hidden;
		    }
	    }
    }
}
