.navbar{
	&.fixed{
		background: transparent;
	}
	.nav-toggle{
		position: relative;
		float: left;
		margin: 20px 10px;
	}
	.logo{
		float: left;
		width: 150px;
	}
	.search-form{
		.form-group{
			.form-control{
				border-color: $gray-light;
				background-color: #fff;
			}
		}
	}
	.navbar-nav{
		> li{
			margin: 0;
			>a{
				width: 35px;
				height: 43px;
				padding: 0;
				text-align: center;
				line-height: 43px;
				position: relative;
				.badge{
					position: absolute;
					top: 0;
					right: 0;
					font-size: 10px;
					padding: 0;
					border-radius: 3px;
					width: 15px;
					height: 15px;
					line-height: 15px;
				}
			}
		}
	}
	.dropdown-auth-actions, .dropdown-loggedin-menu, .dropdown-profile-menu{
		@media only screen and (min-width: 550px) {
			display: none;
		}
		@media only screen and (max-width: 549px){
			position: absolute;
			right: 0;
	    	top: 0;
		}
	    >a{
	    	padding: 10px;
		    line-height: 43px;
		    font-size: 18px;
		    color: $brand-primary;
		}
	}
	.dropdown-loggedin-menu{
		right: 85px;
	}
	.dropdown-profile-menu{
		display: block;
		float: right;
		>a{
			font-size: 14px;
			text-decoration: none;
			padding-left: 35px;
			.username{
				@media (max-width: $screen-sm-max){
					display: none;
				}
			}
		}
		.avatar-img{
	    	position: absolute;
		    top: 5px;
    		left: 0;
		    -ms-flex-negative: 0;
		    flex-shrink: 0;
		    box-shadow: 0 2px 5px 0 rgba(49, 49, 93, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
		    background-color: #fff;
		    width: 30px;
		    height: 30px;
		    border-radius: 15px;
		    overflow: hidden;
		    .img-content{
				background-size: 100% 100%;
				background-position: 50%;
				transition: opacity .2s ease-in-out;
				width: 30px;
				height: 30px;
				border-radius: 15px;
				overflow: hidden;
			    &:after{
					position: absolute;
					content: "";
					left: 0;
					top: 0;
					bottom: 0;
					right: 0;
					background-size: 100% 100%;
					background-position: 50%;
					background-image: url(../images/avatar.jpg);
			    }
		    }
	    }
		.dropdown-menu{
			> li{
				text-align: left;
				padding: 0;
				> a{
					padding: 5px 10px;
				}
				&.divider{
					margin: 0;
					margin-top: 10px;
				}
				&.head{
					padding: 0 10px;
					position: relative;
					.link{
						color: $brand-primary;
					}
				}
			}
		}
	}

	.dropdown-menu{
		padding-top: 10px;
		width: 200px;
		li{
			padding: 0 10px;
			text-align: center;
		}
	}
}