/* Bouncy Flip adapted from animate.css by Dan Eden: http://daneden.github.io/animate.css/ */

.win-alert-bottom-left.win-alert-effect-bouncyflip,
.win-alert-bottom-right.win-alert-effect-bouncyflip,
.win-alert-bottom.win-alert-effect-bouncyflip {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.win-alert-top-left.win-alert-effect-bouncyflip,
.win-alert-top-right.win-alert-effect-bouncyflip
.win-alert-top.win-alert-effect-bouncyflip {
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
}

.win-alert-effect-bouncyflip p {
    padding: 0.5em 0.8em 0.5em 0.8em;
}

.win-alert-effect-bouncyflip .win-alert-close::after,
.win-alert-effect-bouncyflip .win-alert-close::before {
    background: #fff;
}

.win-alert-effect-bouncyflip .win-alert-close:hover::after,
.win-alert-effect-bouncyflip .win-alert-close:hover::before {
    background: #fff;
}

.win-alert-top-left.win-alert-effect-bouncyflip.win-alert-hide,
.win-alert-top-right.win-alert-effect-bouncyflip.win-alert-hide,
.win-alert-top-left.win-alert-effect-bouncyflip.win-alert-show,
.win-alert-top-right.win-alert-effect-bouncyflip.win-alert-show,
.win-alert-top.win-alert-effect-bouncyflip.win-alert-hide,
.win-alert-top.win-alert-effect-bouncyflip.win-alert-show  {
    -webkit-animation-name: flipInXTop;
    animation-name: flipInXTop;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

.win-alert-bottom-left.win-alert-effect-bouncyflip.win-alert-hide,
.win-alert-bottom-right.win-alert-effect-bouncyflip.win-alert-hide,
.win-alert-bottom-left.win-alert-effect-bouncyflip.win-alert-show,
.win-alert-bottom-right.win-alert-effect-bouncyflip.win-alert-show,
.win-alert-bottom.win-alert-effect-bouncyflip.win-alert-show,
.win-alert-bottom.win-alert-effect-bouncyflip.win-alert-hide {
    -webkit-animation-name: flipInXBottom;
    animation-name: flipInXBottom;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

@-webkit-keyframes flipInXTop {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-90deg);
        -webkit-transition-timing-function: ease-in;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,20deg);
        -webkit-transition-timing-function: ease-out;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-10deg);
        -webkit-transition-timing-function: ease-in;
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,5deg);
        -webkit-transition-timing-function: ease-out;
    }

    100% {
        -webkit-transform: perspective(400px);
    }
}

@keyframes flipInXTop {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-90deg);
        transform: perspective(400px) rotate3d(1,0,0,-90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,20deg);
        transform: perspective(400px) rotate3d(1,0,0,20deg);
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-10deg);
        transform: perspective(400px) rotate3d(1,0,0,-10deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,5deg);
        transform: perspective(400px) rotate3d(1,0,0,5deg);
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@-webkit-keyframes flipInXBottom {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,90deg);
        -webkit-transition-timing-function: ease-in;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-20deg);
        -webkit-transition-timing-function: ease-out;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,10deg);
        -webkit-transition-timing-function: ease-in;
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-5deg);
        -webkit-transition-timing-function: ease-out;
    }

    100% {
        -webkit-transform: perspective(400px);
    }
}

@keyframes flipInXBottom {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,90deg);
        transform: perspective(400px) rotate3d(1,0,0,90deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-20deg);
        transform: perspective(400px) rotate3d(1,0,0,-20deg);
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,10deg);
        transform: perspective(400px) rotate3d(1,0,0,10deg);
        -webkit-transition-timing-function: ease-in;
        transition-timing-function: ease-in;
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1,0,0,-5deg);
        transform: perspective(400px) rotate3d(1,0,0,-5deg);
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.win-alert-top-right.win-alert-effect-bouncyflip.win-alert-hide,
.win-alert-top-left.win-alert-effect-bouncyflip.win-alert-hide,
.win-alert-top.win-alert-effect-bouncyflip.win-alert-hide {
    -webkit-animation-name: flipInXSimpleTop;
    animation-name: flipInXSimpleTop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.win-alert-bottom-right.win-alert-effect-bouncyflip.win-alert-hide,
.win-alert-bottom-left.win-alert-effect-bouncyflip.win-alert-hide,
.win-alert-bottom.win-alert-effect-bouncyflip.win-alert-hide  {
    -webkit-animation-name: flipInXSimpleBottom;
    animation-name: flipInXSimpleBottom;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

@-webkit-keyframes flipInXSimpleTop {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
    -webkit-transition-timing-function: ease-in;
  }
  100% {
    -webkit-transform: perspective(400px);
  }
}

@keyframes flipInXSimpleTop {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@-webkit-keyframes flipInXSimpleBottom {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
  }
  100% {
    -webkit-transform: perspective(400px);
  }
}

@keyframes flipInXSimpleBottom {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@media screen and (max-width: 25em) {
    .win-alert-attached {
        left: 30px;
        max-width: none;
        right: 30px;
    }
}