/* Flip */

.win-alert-effect-flip {
    padding: 1.5em;
    backface-visibility: hidden;
}

.win-alert-bottom-left.win-alert-effect-flip,
.win-alert-bottom-right.win-alert-effect-flip,
.win-alert-bottom.win-alert-effect-flip {
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.win-alert-top-left.win-alert-effect-flip,
.win-alert-top-right.win-alert-effect-flip,
.win-alert-top.win-alert-effect-flip {
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.win-alert-effect-flip .win-alert-close::before,
.win-alert-effect-flip .win-alert-close::after {
    background: #fff;
}

.win-alert-effect-flip .win-alert-close:hover::before,
.win-alert-effect-flip .win-alert-close:hover::after {
    background: #fff;
}

.win-alert-bottom-right.win-alert-effect-flip.win-alert-show,
.win-alert-bottom-left.win-alert-effect-flip.win-alert-show,
.win-alert-bottom-right.win-alert-effect-flip.win-alert-hide,
.win-alert-bottom-left.win-alert-effect-flip.win-alert-hide,
.win-alert-bottom.win-alert-effect-flip.win-alert-hide,
.win-alert-bottom.win-alert-effect-flip.win-alert-show {
    -webkit-animation-name: animFlipFrontBottom;
    animation-name: animFlipFrontBottom;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

.win-alert-bottom-right.win-alert-effect-flip.win-alert-hide,
.win-alert-bottom-left.win-alert-effect-flip.win-alert-hide,
.win-alert-bottom.win-alert-effect-flip.win-alert-hide {
    -webkit-animation-name: animFlipFrontBottom;
    animation-name: animFlipFrontBottom;
}

.win-alert-top-right.win-alert-effect-flip.win-alert-show,
.win-alert-top-left.win-alert-effect-flip.win-alert-show,
.win-alert-top-right.win-alert-effect-flip.win-alert-hide,
.win-alert-top-left.win-alert-effect-flip.win-alert-hide,
.win-alert-top.win-alert-effect-flip.win-alert-hide,
.win-alert-top.win-alert-effect-flip.win-alert-show {
    -webkit-animation-name: animFlipFrontTop;
    animation-name: animFlipFrontTop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

.win-alert-top-right.win-alert-effect-flip.win-alert-hide,
.win-alert-top-left.win-alert-effect-flip.win-alert-hide,
.win-alert-top.win-alert-effect-flip.win-alert-hide {
    -webkit-animation-name: animFlipFrontTop;
    animation-name: animFlipFrontTop;
}

@-webkit-keyframes animFlipFrontTop {
    0% { -webkit-transform: perspective(1000px) rotate3d(1,0,0,-90deg); }
    100% { -webkit-transform: perspective(1000px); }
}

@keyframes animFlipFrontTop {
    0% { -webkit-transform: perspective(1000px) rotate3d(1,0,0,-90deg); transform: perspective(1000px) rotate3d(1,0,0,-90deg); }
    100% { -webkit-transform: perspective(1000px); transform: perspective(1000px); }
}

@-webkit-keyframes animFlipFrontBottom {
    0% { -webkit-transform: perspective(1000px) rotate3d(1,0,0,90deg); }
    100% { -webkit-transform: perspective(1000px); }
}

@keyframes animFlipFrontBottom {
    0% { -webkit-transform: perspective(1000px) rotate3d(1,0,0,90deg); transform: perspective(1000px) rotate3d(1,0,0,90deg); }
    100% { -webkit-transform: perspective(1000px); transform: perspective(1000px); }
}