/* Scale */

.win-alert-effect-scale a {
    color: #fff;
}

.win-alert-effect-scale a:hover,
.win-alert-effect-scale a:focus {
    color: #fff;
}

.win-alert-effect-scale .win-alert-close::before,
.win-alert-effect-scale .win-alert-close::after {
    background: #fff;
}

.win-alert-effect-scale .win-alert-close:hover::before,
.win-alert-effect-scale .win-alert-close:hover::after {
    background: #fff;
}

.win-alert-effect-scale.win-alert-show,
.win-alert-effect-scale.win-alert-hide {
    -webkit-animation-name: animScale;
    animation-name: animScale;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
}

@-webkit-keyframes animScale {
    0% { opacity: 0; -webkit-transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); }
    100% { opacity: 1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); }
}

@keyframes animScale {
    0% { opacity: 0; -webkit-transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); }
    100% { opacity: 1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); transform: translate3d(0,0,0) scale3d(1,1,1); }
}