/* stackslide (top, bottom - full width) */

.win-alert-effect-stackslide .win-alert-close {
    background: transparent;
}

.win-alert-effect-stackslide .win-alert-close::before,
.win-alert-effect-stackslide .win-alert-close::after {
    background: #fff;
}

.win-alert-effect-stackslide p {
    padding: 0 1.5em;
    display: inline-block;
}

.win-alert-effect-stackslide .win-alert-close::before,
.win-alert-effect-stackslide .win-alert-close::after {
    width: 2px;
    background: #fff;
}

.win-alert-effect-stackslide .win-alert-close:hover::before,
.win-alert-effect-stackslide .win-alert-close:hover::after {
    background: #fff;
}

.win-alert-top-left.win-alert-effect-stackslide.win-alert-show,
.win-alert-top-right.win-alert-effect-stackslide.win-alert-show,
.win-alert-top-left.win-alert-effect-stackslide.win-alert-hide,
.win-alert-top-right.win-alert-effect-stackslide.win-alert-hide,
.win-alert-top.win-alert-effect-stackslide.win-alert-show,
.win-alert-top.win-alert-effect-stackslide.win-alert-hide {
    -webkit-animation-name: animSlideTop;
    animation-name: animSlideTop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

@-webkit-keyframes animSlideTop {
    0% { -webkit-transform: translate3d(0,-100%,0); }
    100% { -webkit-transform: translate3d(0,0,0); }
}

@keyframes animSlideTop {
    0% { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
    100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

.win-alert-bottom-left.win-alert-effect-stackslide.win-alert-show,
.win-alert-bottom-right.win-alert-effect-stackslide.win-alert-show,
.win-alert-bottom-left.win-alert-effect-stackslide.win-alert-hide,
.win-alert-bottom-right.win-alert-effect-stackslide.win-alert-hide,
.win-alert-bottom.win-alert-effect-stackslide.win-alert-show,
.win-alert-bottom.win-alert-effect-stackslide.win-alert-hide {
    -webkit-animation-name: animSlideBottom;
    animation-name: animSlideBottom;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}

@-webkit-keyframes animSlideBottom {
    0% { -webkit-transform: translate3d(0,100%,0); }
    100% { -webkit-transform: translate3d(0,0,0); }
}

@keyframes animSlideBottom {
    0% { -webkit-transform: translate3d(0,100%,0); transform: translate3d(0,100%,0); }
    100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}