<div class="container">
	<div class="col-md-12">
		<!-- <h4>default</h4>
		<ul class="list-inline">
			<li>
				<a href="#" class="btn btn-success" id="success">success</a>
			</li>
			<li>
				<a href="#" class="btn btn-warning" id="warning">warning</a>
			</li>
			<li>
				<a href="#" class="btn btn-danger" id="error">error</a>
			</li>
			<li>
				<a href="#" class="btn btn-info" id="info">info</a>
			</li>
		</ul>
		<h4>position</h4>
		<ul class="list-inline">
			<li>
				<a href="#" class="btn btn-danger" id="bottom">bottom</a>
			</li>
			<li>
				<a href="#" class="btn btn-danger" id="bottom-left">bottom left</a>
			</li>
			<li>
				<a href="#" class="btn btn-danger" id="bottom-right">bottom right</a>
			</li>
			<li>
				<a href="#" class="btn btn-danger" id="top">top</a>
			</li>
			<li>
				<a href="#" class="btn btn-danger" id="top-left">top left</a>
			</li>
			<li>
				<a href="#" class="btn btn-danger" id="top-right">top right</a>
			</li>
		</ul> -->
		<h4>effects</h4>
		<ul class="list-inline">
			<li>
				<a href="javascript:void(0)" class="btn btn-danger" id="bouncyflip">bouncyflip</a>
			</li>
			<li>
				<a href="javascript:void(0)" class="btn btn-warning" id="flip">flip</a>
			</li>
			<li>
				<a href="javascript:void(0)" class="btn btn-info" id="genie">genie</a>
			</li>
			<li>
				<a href="javascript:void(0)" class="btn btn-success" id="jelly">jelly</a>
			</li>
			<li>
				<a href="javascript:void(0)" class="btn btn-danger" id="scale">scale</a>
			</li>
			<li>
				<a href="javascript:void(0)" class="btn btn-warning" id="slide">slide</a>
			</li>
			<li>
				<a href="javascript:void(0)" class="btn btn-success" id="stackslide">stackslide</a>
			</li>
		</ul>
	</div>
</div>