<div class="auth-container">
	<img src="images/logo-trans.png" alt="winfooz" />
	<div class="auth-content">
		<div class="form-group">
			<h1>Login to Your Account</h1>
			<a href="#" class="other-auth-action">Sign up</a>
		</div>
		<form>
			<div class="form-group">
				<label for="email" class="control-label">Email address:</label>
				<input type="text" id="email" name="email" class="form-control" placeholder="Enter your email address">
			</div>
			<div class="form-group">
				<label for="password" class="control-label">Password:</label>
				<input type="password" id="password" name="password" class="form-control" placeholder="Enter your password">
			</div>
			<div class="form-group">
				<label for="password" class="control-label">
					<input type="checkbox" name="rememberme" id="rememberme" checked>
					Remember me.
				</label>
				
			</div>
			<div class="form-group">
				<input type="submit" name="login" class="btn btn-primary btn-block" value="Login">
			</div>
		</form>
		<div class="form-group">
			<a href="#">Sign up</a> - <a href="#">Forgot Password</a>
		</div>
	</div>
</div>