<nav class="navbar navbar-default">
	<div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">
	      	<img src="images/logo.png">
	      </a>
	    </div>

	    <div class="collapse navbar-collapse" id="menu">
		    <ul class="nav navbar-nav navbar-right">
		    	<li>
		    		<a href="#">
		    			search car
		    		</a>
		    	</li>
		    	<li>
		    		<a href="#">
		    			login
		    		</a>
		    	</li>
		    	<li>
		    		<a href="#">
		    			register
		    		</a>
		    	</li>
		    	<li>
		    		<a href="#" class="btn btn-primarys">
		    			Buy with Winfooz
		    		</a>
		    	</li>
		    </ul>
		</div>
	</div>
</nav>