<!-- Regular Meta Info -->
<title>Winfooz</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<meta name="robots" content="index,follow">
<meta name="description" content="Winfooz.com is the only Auto Marketplace that allows you to buy and sell Wholesale as well as sell directly to Consumers.">
<meta name="keywords" content="used cars, car buying, online car sales, Online Shopping, Deals, Buy, Sell, Online Market">
<link rel="author" href="https://plus.google.com/110638226008575353057" />
<link rel="canonical" href="http://winfooz.com" />
<!-- Facebook Meta Info --> 
<meta property="og:url" content="{{pageUrl}}">
<meta property="og:image" content="{{imageUrl}}">
<meta property="og:description" content="{{description}}">
<meta property="og:title" content="{{pageTitle}}">
<meta property="og:site_name" content="{{siteTitle}}">
<meta property="og:see_also" content="{{homepageUrl}}">
<!-- Google+ Meta Info -->
<meta itemprop="name" content="{{pageTitle}}">
<meta itemprop="description" content="{{description}}">
<meta itemprop="image" content="{{imageUrl}}">
<!-- Twitter Meta Info -->
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="{{pageUrl}}">
<meta name="twitter:title" content="{{pageTitle}}">
<meta name="twitter:description" content="{{description}}">
<meta name="twitter:image" content="{{imageUrl}}">


<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

{{#file page.file}}
<link rel="stylesheet" type="text/css" href="css/{{page.file}}.css">
{{else}}
<link rel="stylesheet" type="text/css" href="css/{{basename}}.css">
{{/file}}