<div class="container">
	<div class="col-md-12">
		<ul class="icons-list">
			<li>
				<i class="icon icon-checked"></i>
			</li>
			<li>
				<i class="icon icon-car-o"></i>
			</li>
			<li>
				<i class="icon icon-left-arrow-circle"></i>
			</li>
			<li>
				<i class="icon icon-right-arrow-circle"></i>
			</li>
			<li>
				<i class="icon icon-star-edge"></i>
			</li>
			<li>
				<i class="icon icon-speech-bubble"></i>
			</li>
			<li>
				<i class="icon icon-chat"></i>
			</li>
			<li>
				<i class="icon icon-price-tag"></i>
			</li>
			<li>
				<i class="icon icon-location-o"></i>
			</li>
			<li>
				<i class="icon icon-oil"></i>
			</li>
			<li>
				<i class="icon icon-car-left"></i>
			</li>
			<li>
				<i class="icon icon-bucket"></i>
			</li>
			<li>
				<i class="icon icon-steering-wheel"></i>
			</li>
			<li>
				<i class="icon icon-speedometer"></i>
			</li>
			<li>
				<i class="icon icon-close-circle"></i>
			</li>
			<li>
				<i class="icon icon-inventory"></i>
			</li>
			<li>
				<i class="icon icon-star-rounded"></i>
			</li>
			<li>
				<i class="icon icon-view-o"></i>
			</li>
			<li>
				<i class="icon icon-star-rounded-o"></i>
			</li>
			<li>
				<i class="icon icon-flag"></i>
			</li>
			<li>
				<i class="icon icon-bar-chart-2"></i>
			</li>
			<li>
				<i class="icon icon-bar-chart-circle"></i>
			</li>
			<li>
				<i class="icon icon-line-chart"></i>
			</li>
			<li>
				<i class="icon icon-gas-station"></i>
			</li>
			<li>
				<i class="icon icon-car-line"></i>
			</li>
			<li>
				<i class="icon icon-gearshift"></i>
			</li>
			<li>
				<i class="icon icon-list-view"></i>
			</li>
			<li>
				<i class="icon icon-grid-view"></i>
			</li>
			<li>
				<i class="icon icon-arrow-down"></i>
			</li>
			<li>
				<i class="icon icon-list"></i>
			</li>
			<li>
				<i class="icon icon-success-circle"></i>
			</li>
			<li>
				<i class="icon icon-car-front"></i>
			</li>
			<li>
				<i class="icon icon-timer-radius"></i>
			</li>
			<li>
				<i class="icon icon-next"></i>
			</li>
			<li>
				<i class="icon icon-tag-o"></i>
			</li>
			<li>
				<i class="icon icon-location"></i>
			</li>
			<li>
				<i class="icon icon-transmission"></i>
			</li>
			<li>
				<i class="icon icon-fuel-type"></i>
			</li>
			<li>
				<i class="icon icon-color"></i>
			</li>
			<li>
				<i class="icon icon-calendar"></i>
			</li>
			<li>
				<i class="icon icon-mileage"></i>
			</li>
			<li>
				<i class="icon icon-auction"></i>
			</li>
			<li>
				<i class="icon icon-car-m"></i>
			</li>
			<li>
				<i class="icon icon-bay"></i>
			</li>
			<li>
				<i class="icon icon-deliver"></i>
			</li>
			<li>
				<i class="icon icon-shop-card"></i>
			</li>
			<li>
				<i class="icon icon-table"></i>
			</li>
			<li>
				<i class="icon icon-verify"></i>
			</li>
			<li>
				<i class="icon icon-logout"></i>
			</li>
			<li>
				<i class="icon icon-search-bold"></i>
			</li>
			<li>
				<i class="icon icon-profile"></i>
			</li>
			<li>
				<i class="icon icon-notifications"></i>
			</li>
			<li>
				<i class="icon icon-messages"></i>
			</li>
			<li>
				<i class="icon icon-wishlist"></i>
			</li>
			<li>
				<i class="icon icon-play"></i>
			</li>
			<li>
				<i class="icon icon-folder"></i>
			</li>
			<li>
				<i class="icon icon-price-car-tag"></i>
			</li>
			<li>
				<i class="icon icon-stats"></i>
			</li>
			<li>
				<i class="icon icon-search"></i>
			</li>
		</ul>
	</div>
</div>