<nav class="navbar navbar-default trans {{#if loggedin}}loggedin-nav{{/if}}">
	<div class="col-xs-4 col-sm-3 col-md-2">
		{{#if loggedin}}
		<a class="nav-toggle hidden-md hidden-lg" href="javascript:void(0)">
			<span></span>
		</a>
		{{/if}}
		<h1 class="logo">
			<a class="navbar-brand" href="#"></a>
		</h1>
	</div>
	{{#unless loggedin}}
	<div class="col-sm-8 col-md-7 col-lg-7 search">
		<form class="search-form">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn-search">
				<i class="icon icon-search"></i>
			</button>
		</form>
	</div>
	<div class="col-sm-3 auth-actions">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a class="btn btn-primary" href="#">
					get started
				</a>
			</li>
			<li>
				<a class="btn btn-default btn-white" href="#">
					log in
				</a>
			</li>
		</ul>
	</div>
	<div class="dropdown dropdown-auth-actions hidden-md hidden-lg">
		<a href="javascript:void(0)" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			<i class="fa fa-ellipsis-h"></i>
		</a>
		<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
			<li><a class="btn btn-primary" href="#">login</a></li>
			<li role="separator" class="divider"></li>
			<li>
				Don't have an account?
				<a href="#">Sign up</a>
			</li>
		</ul>
	</div>
	{{else}}
	<div class="col-xs-6 col-sm-8 col-md-7 col-lg-5 full search">
		<form class="search-form">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search">
			</div>
			<button type="submit" class="btn-search">
				<i class="icon icon-search"></i>
			</button>
		</form>
	</div>
	<div class="col-sm-4 col-md-6 auth-actions loggedin main-nav">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="#" data-toggle="tooltip" data-placement="bottom" title="Notifications">
					<i class="icon icon-notifications"></i>
					<span class="badge">14</span>
				</a>
			</li>
			<li>
				<a href="#" data-toggle="tooltip" data-placement="bottom" title="Inbox">
					<i class="icon icon-speech-bubble"></i>
				</a>
			</li>
		</ul>
	</div>
	<div class="col-sm-4 col-md-6  auth-actions loggedin second-nav">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="#">
					Watchlist
				</a>
			</li>
			<li>
				<a href="#">
					Reviews
				</a>
			</li>
			<li>
				<a href="#">
					Bay
				</a>
			</li>
			<li>
				<a href="#">
					Sell
				</a>
			</li>
		</ul>
	</div>
	<div class="dropdown dropdown-avatar-menu">
		<a href="javascript:void(0)" class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown">
			<img src="http://placehold.it/30x30" class="img-circle special-img"> 
			<span class="dealershipname hidden-xs hidden-sm">Ahmad</span> <i class="fa fa-angle-down"></i>
		</a>
		<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2" auto-close="disabled" >
			<li class="head">
				<span class="link">aali@winfooz.com</span>
				<i class="fa fa-angle-down"></i>
				<br />Hello <span class="dealershipname">Ahmad</span>,
				<ul class="dealerships">
					<li><a href="#"><i class="fa fa-check"></i>Ahmad</a></li>
					<li><a href="#"><i class="fa"></i>Ahmad 2</a></li>
					<li><a href="#"><i class="fa"></i>Ahmad 3</a></li>
				</ul>
			</li>
			<li class="divider"></li>
			<li><a href="#"><i class="fa fa-cog"></i> Account</a></li>
			<li><a href="#"><i class="fa fa-sign-out"></i> Sign-out</a></li>
		</ul>
	</div>
	{{/unless}}
</nav>
{{#if loggedin}}
<div class="side-menu">
	<div class="logo">
		<a href="javascript:void(0)" class="nav-toggle">
			<span></span>
		</a>
		<a class="navbar-brand" href="#">
			<img src="images/logo-white.png">
		</a>
	</div>
	<ul class="sidebar-menu">
        <li class="header">Main Navigation</li>
        <li>
			<a href="#">
				<i class="fa fa-bell-o"></i>
				Notifications
				<span class="badge">14</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon icon-messages"></i>
				Inbox
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon icon-view-o"></i>
				Watchlist
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon icon-star-rounded"></i>
				Reviews
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon icon-bay"></i>
				Bay
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon icon-shop-card"></i>
				Sell
			</a>
		</li>
    </ul>
	<div class="black-overlay"></div>
</div>
{{/if}}