<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/ion.rangeSlider.js" type="text/javascript"></script>

<script src="js/slick.min.js" type="text/javascript"></script>
<script src="js/alert.js" type="text/javascript"></script>

{{#file page.file}}
<script src="js/{{page.file}}.js" type="text/javascript"></script>
{{else}}
<script src="js/{{basename}}.js" type="text/javascript"></script>
{{/file}}

{{#file page.validate}}
<script src="js/jquery.validate.min.js" type="text/javascript"></script>
{{/file}}


