<div class="sidebar hidden-xs hidden-sm">
	<a class="sidebar-account">
		<div class="account-image">
			<div class="account-image-content"></div>
		</div>
		<div class="account-info">
			<div class="account-nickname">Unnamed Account</div>
		</div>
	</a>
	<nav class="sidebar-main">
		<ul class="sidebar-section">
			<li>
				<a href="#" class="sidebar-link selected">
					<i class="fa fa-home"></i>
					Home
				</a>
			</li>
			<li>
				<a href="#" class="sidebar-link">
					<i class="fa fa-car"></i>
					My Inventory
				</a>
			</li>
			<li>
				<a href="#" class="sidebar-link">
					<i class="fa fa-search"></i>
					Buy
				</a>
			</li>
			<li>
				<a href="#" class="sidebar-link">
					<i class="fa fa-thumbs-o-up"></i>
					Reviews
				</a>
			</li>
			<li>
				<a href="#" class="sidebar-link">
					<i class="fa fa-file-text-o"></i>
					My contracts
				</a>
			</li>
			<li>
				<a href="#" class="sidebar-link">
					<i class="fa fa-inbox"></i>
					Inbox
				</a>
			</li>
		</ul>
	</nav>
</div>
