<nav class="navbar navbar-default fixed">
	<a class="nav-toggle hidden-md hidden-lg" href="javascript:void(0)">
		<span></span>
	</a>
	<h1 class="logo">
		<a class="navbar-brand" href="#"></a>
	</h1>
	<div class="container">
		<div class="hidden-xs col-sm-6 col-md-8">
			<form class="search-form">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn-search">
					<i class="icon icon-search"></i>
				</button>
			</form>
		</div>
		<div class="col-sm-6 col-md-4 no-padding">
			<div class="dropdown dropdown-profile-menu">
				<a href="javascript:void(0)" class="dropdown-toggle" id="dropdownProfile" data-toggle="dropdown">
					<div class="avatar-img">
						<div class="img-content"></div>
					</div>
					<span class="username">Ahmad</span> <i class="fa fa-angle-down"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownProfile" auto-close="disabled" >
					<li class="head">
						<span class="link">aali@winfooz.com</span>
						<br />Hello Ahmad,
					</li>
					<li class="divider"></li>
					<li><a href="#"><i class="fa fa-cog"></i> Account</a></li>
					<li><a href="#"><i class="fa fa-sign-out"></i> Sign-out</a></li>
				</ul>
			</div>
			<ul class="nav navbar-nav navbar-right hidden-xs">
				<li>
					<a href="#">
						<i class="fa fa-bell-o"></i>
						<span class="badge">14</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-eye"></i>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-heart-o"></i>
					</a>
				</li>
			</ul>
			<div class="dropdown dropdown-loggedin-menu">
				<a href="javascript:void(0)" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<i class="fa fa-ellipsis-h"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
					<li><a class="btn btn-primary" href="#">login</a></li>
					<li role="separator" class="divider"></li>
					<li>
						Don't have an account?
						<a href="#">Sign up</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<div class="side-menu">
	<div class="logo">
		<a href="javascript:void(0)" class="nav-toggle">
			<span></span>
		</a>
		<a class="navbar-brand" href="#">
			<img src="images/logo-white.png">
		</a>
	</div>
	<a class="sidebar-account">
		<div class="account-image">
			<div class="account-image-content"></div>
		</div>
		<div class="account-info">
			<div class="account-nickname">Unnamed Account</div>
		</div>
	</a>
	<ul class="sidebar-menu">
        <li>
			<a href="#" class="sidebar-link selected">
				<i class="fa fa-home"></i>
				Home
			</a>
		</li>
		<li>
			<a href="#" class="sidebar-link">
				<i class="fa fa-car"></i>
				My Inventory
			</a>
		</li>
		<li>
			<a href="#" class="sidebar-link">
				<i class="fa fa-search"></i>
				Buy
			</a>
		</li>
		<li>
			<a href="#" class="sidebar-link">
				<i class="fa fa-thumbs-o-up"></i>
				Reviews
			</a>
		</li>
		<li>
			<a href="#" class="sidebar-link">
				<i class="fa fa-file-text-o"></i>
				My contracts
			</a>
		</li>
		<li>
			<a href="#" class="sidebar-link">
				<i class="fa fa-inbox"></i>
				Inbox
			</a>
		</li>
    </ul>
	<div class="black-overlay"></div>
</div>