/* Common, default styles for the notification box */

.win-alert-box {
	position: fixed;
	background: rgba(42,45,50,0.85);
	padding: 22px;
	line-height: 1.4;
	z-index: 1000;
	pointer-events: none;
	color: rgba(250,251,255,0.95);
	font-size: 100%;
	font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	max-width: 300px;
	-webkit-transition: top .4s, bottom .4s;
	transition: top .4s, bottom .4s;
	* {
		box-sizing: border-box;
	}
	a {
		font-weight: 700;
		&:hover,
		&:focus {
			opacity: 1;
		}
	}
	p {
		margin: 0;
	}
	&.win-alert-show,
	&.win-alert-visible {
		pointer-events: auto;
	}

	.win-alert-close {
		width: 20px;
		height: 20px;
		position: absolute;
		right: 4px;
		top: 4px;
		overflow: hidden;
		text-indent: 100%;
		cursor: pointer;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		&:hover,
		&:focus {
			outline: none;
		}
		&:hover{
			&:before,
			&:after {
				background: #fff;
			}
		}
		&:before,
		&:after {
			content: '';
			position: absolute;
			width: 3px;
			height: 60%;
			top: 50%;
			left: 50%;
			background: #fff;
		}
		&:before {
			-webkit-transform: translate(-50%,-50%) rotate(45deg);
			transform: translate(-50%,-50%) rotate(45deg);
		}
		&:after {
			-webkit-transform: translate(-50%,-50%) rotate(-45deg);
			transform: translate(-50%,-50%) rotate(-45deg);
		}
	}
	/* positions */
	&.win-alert-{
		&bottom-left {
			top: auto;
			right: auto;
			bottom: 30px;
			left: 30px;
		}
		&top-left {
			top: 30px;
			right: auto;
			bottom: auto;
			left: 30px;
		}
		&top-right {
			top: 30px;
			right: 30px;
			bottom: auto;
			left: auto;
		}
		&bottom-right {
			top: auto;
			right: 30px;
			bottom: 30px;
			left: auto;
		}
		&bottom {
			width: 100%;
			max-width: 100%;
			bottom: 0;
			left: 0;
			right: 0;
			top: auto;
			&[class^="win-alert-"]{
				border-radius: 0;
			}
		}
		&top {
			width: 100%;
			max-width: 100%;
			top: 125px;
			left: 0;
			right: 0;
			bottom: auto;
			&[class^="win-alert-"]{
				border-radius: 0;
			}
		}
	}


	/* conditions */
	&.win-alert-{
		&info {
			background: lighten($brand-info, 40%);
			color: darken($brand-info, 15%);
			border-radius: 4px;
			border: 1px solid lighten($brand-info, 35%);
			.win-alert-close{
				&:after, &:before{
					background-color: darken($brand-info, 15%);
				}
				&:hover{
					&:after, &:before{
						background-color: darken($brand-info, 20%);
					}
				}
			}
		}
		&success {
			background: lighten($brand-success, 40%);
			color: darken($brand-success, 15%);
			border-radius: 4px;
			border: 1px solid lighten($brand-success, 35%);
			.win-alert-close{
				&:after, &:before{
					background-color: darken($brand-success, 15%);
				}
				&:hover{
					&:after, &:before{
						background-color: darken($brand-success, 20%);
					}
				}
			}
		}
		&warning {
			background: lighten($brand-warning, 40%);
			color: darken($brand-warning, 15%);
			border-radius: 4px;
			border: 1px solid lighten($brand-warning, 35%);
			.win-alert-close{
				&:after, &:before{
					background-color: darken($brand-warning, 15%);
				}
				&:hover{
					&:after, &:before{
						background-color: darken($brand-warning, 20%);
					}
				}
			}
		}
		&error {
			background: lighten($brand-danger, 40%);
			color: darken($brand-danger, 15%);
			border-radius: 4px;
			border: 1px solid lighten($brand-danger, 35%);
			.win-alert-close{
				&:after, &:before{
					background-color: darken($brand-danger, 15%);
				}
				&:hover{
					&:after, &:before{
						background-color: darken($brand-danger, 20%);
					}
				}
			}
		}
	}

	&[class^="win-alert-effect-"].win-alert-hide,
	&[class*=" win-alert-effect-"].win-alert-hide {
		-webkit-animation-direction: reverse;
		animation-direction: reverse;
	}

	/* height measurement helper */
	&.win-alert-box-height {
		visibility: hidden;
		position: fixed;
	}
}
@import 
	'effects/bouncyflip',
	'effects/flip',
	'effects/genie',
	'effects/jelly',
	'effects/scale',
	'effects/slide',
	'effects/stackslide';