.auth{
	background-color: $brand-default;
	&:after{
		content: '';
		display: block;
		background-image: url(../images/bg.png);
		width: 428px;
		height: 107px;
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
	.auth-container{
		width: 450px;
		@media (max-width: $screen-xs-max){
			width: 90%
		}
		margin: 50px auto 0;
		position: relative;
		.other-auth-action{
			position: absolute;
			@media (max-width: $screen-xs-max){
				position: static;
				text-align: center;
			}
			top: 0;
			right: 0;
			color: #fff;
			.btn{
				margin-left: 5px;
			}
		}
		.auth-content{
			padding-top: 20px;
			padding-bottom: 20px;
			margin: 15px 0	;
			background-color: #fff;
			border-radius: 10px;
			position: static;
			h1{
				font-size: 24px;
    			font-weight: 300;
    			margin: 0;
			}
			> .form-group:last-child{
				margin: 0;
			}
			.other-link-action{
				width: 100%;
				padding: 6px 16px;
				text-align: center;
				display: block;
			}
		}
		form{
			.row{
				> div{
					&:first-child{
						padding-right: 10px;
					}
					&:last-child{
						padding-left: 10px;
					}
				}
			}
			label.error{
				color: $brand-danger;
				font-weight: normal;
				font-size: 12px;
			}
			input.error{
				border-color: $brand-danger;
			}
		}
	}
	.msg{
		display: none;
		.msg-title{
			width: 100%;
			text-align: center;
			i{
				font-size: 50px;
				color: $brand-primary;
			}
		}
		.msg-content{
			h1{
				margin: 15px 0;
				text-align: center;
			}
		}
	}
}
