.container{
	padding-left: 206px;
	padding-right: 0;
    margin: 0;
    width: 100%;
	&.content{
		padding-top: 85px;
		@media (max-width: $screen-sm-max){
			padding-left: 0;
		}
	}
}

.panel{
	position: relative;
	overflow: visible;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);
}