.side-menu{
	position: fixed;
    width: 0;
    height: 100%;
    top: 0;
    background: $brand-default;
	z-index: 9999999;
	transition: all 0.3s ease-in-out;
	white-space: nowrap;
	overflow: hidden;
	.black-overlay{
		background: #000;
	}
	&.active{
		width: 280px;
	}
	.logo{
	    position: relative;
    	padding: 0 25px;
    	.nav-toggle{
    		span{
    			&:after,&:before{
    				background: #fff;
    			}
    		}
    	}
    	.navbar-brand{
			float: none;
			display: inline-block;
		    padding: 16.5px 1.5px;
    	}
	}
	i{
		width: 50px !important;
	}
	.badge{
		position: absolute;
		right: 0;
	}
}

.auth-actions{
	.nav{
		text-align: right;
		li{
			float: right;
		}
	}
	@media only screen and (min-width: 600px) and (max-width: $screen-md-max){
		position: absolute;
		right: 10px;
    	top: 15px;
    	.nav{
    		text-align: right;
    		li{
    			display: inline-block;
    		}
    	}
	}
	&.loggedin{
		position: absolute;
    	top: 15px;
		&.main-nav{
			right: 130px;
		}
		&.second-nav{
			right: 210px;
		}
    	@media (max-width: $screen-sm-max){
    		right: 75px;
    	}
    	.nav{
    		text-align: left;
    		li{
    			display: inline-block;
    		}
    	}
	}
	@media (max-width: $screen-sm-max){
		display: none;
	}
}

.dropdown-auth-actions, .dropdown-loggedin-menu, .dropdown-avatar-menu{
	@media (max-width: $screen-sm-max){
		position: absolute;
		right: 10px;
    	padding-right: 15px;
    	top: 15px;
	}
    >a{
    	padding: 10px;
	    line-height: 43px;
	    font-size: 18px;
	    color: $brand-primary;
	}
}
.dropdown-loggedin-menu{
	right: 75px;
}
.dropdown-avatar-menu{
	display: block;
	position: absolute;
	right: 10px;
	padding-right: 15px;
	top: 15px;
	>a{
		font-size: 14px;
		text-decoration: none;
	}
	.dropdown-menu{
		> li{
			text-align: left;
			padding: 0;
			> a{
				padding: 5px 10px;
			}
			&.divider{
				margin: 0;
				margin-top: 10px;
			}
			&.head{
				padding: 0 10px;
				position: relative;
				cursor: pointer;
				.link{
					color: $brand-primary;
				}
				.dealerships{
				    list-style: none;
					margin: 0;
					padding: 0;
					position: absolute;
					background: #fff;
					width: 100%;
					left: 0;
					border-bottom-left-radius: 3px;
					border-bottom-right-radius: 3px;
					overflow: hidden;
					max-height: 0;
    				transition: all 0.3s ease-out;
    				z-index: 1;
					> li{
						text-align: left;
						padding: 0;
						> a{
							display: block;
							padding: 5px 10px;
							width: 100%;
						    color: #666;
							white-space: nowrap;
							> i{
								width: 14px;
							}
							&:hover, &:focus {
								text-decoration: none;
								color: #141414;
								background-color: #eeeeee;
							}
						}
					}
					&.active{
						margin-top: 15px;
						max-height: 200px;
						transition: all 0.3s ease-in;
					}
				}
			}
		}
	}
}

.dropdown-menu{
	padding-top: 10px;
	width: 200px;
	&:before{
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 10px 15px 10px;
		border-color: transparent transparent #ffffff transparent;
		position: absolute;
		top: -15px;
		right: 21px;
	}
	li{
		padding: 0 10px;
		text-align: center;
	}
}