// colors

$color-1: #331d35; // Bleached Cedar
$color-2: #41307c; // Minsk
$color-3: #ffffff; // White
$color-4: #9a9a9a; // Grey

$tab-filter-height: 50px;

body{
	background-color: #FCFCFC;
}
.navbar{
	border-bottom: 1px solid #979797;
	background-color: #F8F7F7;
	.navbar-brand{
		margin: 10px 0 !important;
	}
	.navbar-brandnav{
		margin: 10px 0 !important;
	}
}